{% extends "base.html" %}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-info">{{ message }}</div>
{% endfor %}
<h2>Update Task</h2>
{% if task.status[-1].status == 'Não Iniciada' %}
    <p class="btn btn-sm btn-outline-secondary">{{task.status[-1].status}}</p>
{% elif task.status[-1].status == 'Em Andamento' %}
    <p class="btn btn-sm btn-outline-primary">{{task.status[-1].status}}</p>
{% elif task.status[-1].status == 'Pausada' %}
    <p class="btn btn-sm btn-outline-warning">{{task.status[-1].status}}</p>
{% elif task.status[-1].status == 'Concluída' %}
    <p class="btn btn-sm btn-outline-success">Concluída</p>
{% endif %}
<form method="POST" action="{{ url_for('update', id=task.id) }}">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" value="{{ task.title}}" class="form-control" id="title" name="title" required>

        <label for="description">Task Description</label>
        <textarea class="form-control" id="description" name="description" rows="3">{{ task.description }}</textarea>

        <label for="due_date">Due Date</label>
        <input type="date" value="{{ task.due_date.strftime('%Y-%m-%d') }}" class="form-control" id="due_date" name="due_date" required>
        
        <label for="sector">sector</label>
        <select class="form-control" id="sector" name="sector">
            <option value="">-------</option>
            {% for sector in dropdown_sectors %}
                <option value="{{ sector.id }}"
                    {% if task.sector_id == sector.id %}
                        selected
                    {% endif %}
                    >
                    {{ sector.name }}
                </option>
            {% endfor %}
        </select>


        <label for="responsible">Responsible</label>
        <select class="form-control" id="responsible" name="responsible">
            <option value="">-------</option>
            {% for user in dropdown_users %}
                <option value="{{ user.username }}"
                    {% if task.responsible == user %}
                        selected
                    {% endif %}
                    >
                    {{ user.name }}
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Update</button>

    {% if task.status[-1].status == 'Em Andamento' %}
        <a href="{{ url_for('pause_task', task_id=task.id) }}" class="btn btn-sm btn-info">Pausar</a>
        <a href="{{ url_for('finalize_task', task_id=task.id) }}" class="btn btn-sm btn-success">Finalizar</a>
    {% elif task.status[-1].status == 'Pausada' %}
        <a href="{{ url_for('init_task', task_id=task.id) }}" class="btn btn-sm btn-info">Continuar</a>
        <a href="{{ url_for('finalize_task', task_id=task.id) }}" class="btn btn-sm btn-success">Finalizar</a>
    {% endif %}
</form>
{% endblock %}